.App {
  text-align: center;
  width: 100%;
}
.header{
  width: 100%;
  margin: 0em;
  padding: 0em;
  font-size: medium;
}
.cases-map{
  width: 100%;
  margin: 0em;
}
.casesSymmary{
  height: auto;
  width: 100%;
  margin: auto;
  padding: 0rem;
}
.casesSummary-alertbox{
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: auto;
  font-size: small;
  display: inline-block;
  background-color:#F8F8F8;
}